
<title><%= title %></title>

<% include head %>

<h1>Login</h1>
<form method="post" action="/login">
  <p>
    <label>Username:</label>
    <input type="text" name="username" class="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password" class="password">
  </p>
  <p>
    <input type="submit">
  </p>
</form>

<% include foot %>
